* {
    box-sizing: border-box;
}


[alt~=EECU] {
    height: 200px;
    width: 500px;
    margin-left: -100px;
}


header {
    width: 100vw;
    background-color: #0054a4;
    display: flex;
    justify-content: space-around;


}


header .logo {
    width: 200px;
}


header nav {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header nav ul {
    list-style: none;
}


nav ul a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    padding: 20px;
}


nav ul a:hover {
    background-color: dodgerblue;
}


nav li {
    color: white;
    font-size: 80px;
    margin-right: 50px;
    font-weight: bold;
    width: 100%;
}


.box1 {
    height: 1300px;
    background-color: rgb(194, 218, 226);
}


.box1 h1 {
    font-size: 70px;
    color: rgb(85, 75, 75);
    margin-left: 70px;
    margin-top: 1px;
}


.box2 {
    background-color: white;
    font-size: 40px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}


.box3 {
    background-color: white;
    font-size: 43px;
    margin-left: 300px;
}


.box3 input {
    height: 40px;
    font-size: 30px;
    width: 48%;
    border-radius: 10px;
    border: solid black 1px;
    padding: 20px;
}


.box4 {
    background-color: white;
    font-size: 43px;
    margin-left: 300px;
    margin-top: 30px;
}


.box4 input {
    height: 40px;
    font-size: 30px;
    width: 37.5%;
    border-radius: 10px;
    border: solid black 1px;
    padding: 20px;
}


.box5 {
    background-color: white;
    font-size: 43px;
    margin-left: 300px;
    margin-top: 30px;
}


.box5 input {
    height: 40px;
    font-size: 30px;
    width: 36%;
    border-radius: 10px;
    border: solid black 1px;
    padding: 20px;
}


.box5 p {
    font-size: 25px;
    margin-left: 40px;
    margin-bottom: 5px;
    margin-top: 1px;
}


.box6 {
    background-color: white;
    width: 70%;
    height: 1000px;
    margin-left: 300px;
    text-align: center;
    font-size: 30px;
}


.box6 h1 {
    font-size: 50px;
}


.box6 form {
    font-size: 40px;
}


.box6 input {
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}


.other {
    width: 21%;
    background-color:rgb(194, 218, 226);
    height: 1050px;
    margin-left: 100px;
    text-align: center;
    float: left;
}


.other li {
    list-style-type: none;
    font-size: 26px;
    text-align: left;
    font-weight: bold;
    color: rgb(85, 75, 75);
}


.another {
    width: 21%;
    background-color: rgb(194, 218, 226);
    height: 1050px;
    margin-left: 1000px;
}


.another li {
    list-style-type: none;
    font-size: 26px;
    text-align: left;
    font-weight: bold;
    color: rgb(85, 75, 75);
}


.box9 {
    width: 21%;
    height: 1050px;
    background-color: rgb(194, 218, 226);
    text-align: center;
    float: left;
}


.box9 li {
    list-style-type: none;
    font-size: 26px;
    font-weight: bold;
    color: rgb(85, 75, 75);
}


.box10 {
    width: 21%;
    height: 1050px;
    background-color: rgb(194, 218, 226);
    text-align: center;
    float: right;
    margin-top: -1050px;
}


.box10 li {
    list-style-type: none;
    font-size: 26px;
    font-weight: bold;
    color: rgb(85, 75, 75);
}


[class~=other] li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: underline;
}


[class~=another] li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: underline;
}


hr {
    padding: 1px;
    color: black;
    background-color: black;
}


.box12 {
    background-color: #8DBBFF;
    height: 350px;
}


input[type="gross"],
input[type="deductions"],
input[type="net"] {
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    width: 27%;
    margin-bottom: 10px;
    display: flex;
}


.box11 {
    background-color: white;
    text-align: center;
    height: 200px;
}


.box11 h2 {
    font-size: 45px;
}


.box11 h3 {
    font-size: 30px;
}


.box6 h3 {
    margin-top: 90px;
    color: darkred;
    width: 20%;
    margin-left: 100px;
}


.box6 h4 {
    color: darkred;
    margin-top: -115px;
    font-size: 40px;
    margin-left: -20px;
}


.box6 h5 {
    color: darkred;
    font-size: 40px;
    margin-left: 960px;
    margin-top: -105px;
    width: 30%;
    flex-direction: row;
    display: flex;
}


.box6 p {
    margin-left: 850px;
    margin-top: -65px;
}
.box6 h2 {
    margin-left: -470px;
    margin-top: -112px;
}


.box6 h6 {
    font-size: 35px;
    font-weight: bold;
    margin-right: -420px;
    margin-top: -80px;
}


[alt~=eecu-footer] {
    width: 500px;
    height: 200px;
    margin-left: 750px;
    margin-top: 90px;
}


.box11 form {
    width: 40%;
    background-color: lightblue;
}


.box13 {
    width: 20%;
    margin-left: 500px;
}


input[type="ran"] {
    padding: 15px;
    font-size: 30px;
    border-radius: 5px;
}


.box14 {
    width: 20%;
    margin-left: 1100px;
    margin-top: -68px;
    margin-bottom: 30px;
}


input[type="known"] {
    padding: 17px;
    font-size: 30px;
    border-radius: 5px;
}


.box15 p {
    font-size: 40px;
    text-align: center;
    margin-top: -90px;
}


.box16 p {
    color: darkred;
    font-size: 30px;
    margin-left: 630px;
    margin-top: -20px;
}


.box16 h3 {
    color: darkred;
    font-size: 25px;
    margin-left: 1135px;
    margin-top: -60px;
}


.item3 {
    background-color: white;
    margin-bottom: 30px;
}


table, th, td {
    border:1px solid black;
    height: 70px;
    font-size: 25px;
}


tr:nth-child(even) {
    background-color: rgba(203, 237, 237, 0.4);
}
 
th:nth-child(even),td:nth-child(even) {
    background-color: rgba(211, 233, 233, 0.4);
}


[alt~=icon] {
    width: 3%;
    margin-left: 1940px;
    margin-top: -20px;
}
